@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
	margin: 0;
	font-family: 'Comfortaa', sans-serif;
	background: #fcc;
	position: relative;
}
p {
	margin: 0;
}
.container {
	display: flex;
	justify-content: center;
	align-content: center;
}




/* header  ====================================================================================*/
header {
	background: #fff;
}
.topheader {
	background: #fff;
	color: #000;
	width: 1200px;
	margin: 0 auto;
}

.topheader nav ul img {
	height: 150px;

}

			/* задаем цвет фона для контейнера nav. */
.topheader nav {
	background-color: #fff;
}
			
			/* убираем отступы и поля, а также list-style для "ul", 
			 * и добавляем "position:relative" */
.topheader nav ul {
    padding: 0;
    margin: 0;
	display: flex;
	justify-content: space-around;
    list-style: none;
    position: relative;
	align-items: flex-end;
}
			
			/* применяем inline-block позиционирование к элементам навигации */
.topheader nav ul li {
    margin: 0;
    display: inline-block;
    background-color: #fff;
	min-width: 120px;
	text-align: center;
	
}
.topheader nav ul li a {
	line-height: 1.5;
}
			
			/* стилизуем ссылки */
.links {
	display:block;
	padding: 15px;
	color:#000;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;

}
			
			/* изменяем цвет фона при наведении курсора */
.links:hover {
	background-color: #966;
	color: #fff;
}
.mainpage {
	padding: 15px 0 15px 0;
	margin: 0;
}




.mainheader {
	background: #fff;
	display: flex;
	justify-content: center;
}
.mainheader > img {
	background: #fff;
	padding: 0;

}


/* slider styles =================================================================== */
.slider {
    position: relative;
    width: 1200px;
    height: 240px;
    overflow: hidden;
	z-index: 1;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 240px;
}
.slide.active {
    z-index: 1;
}
.slide img {
    width: 1200px;
    height: 240px;
}
.rule {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 2;
}
.slider:hover .rule {
    display: block;
}
.rule span {
    position: absolute;
    top: calc(50% - 17px);
    cursor: pointer; /* курсор показывает, что тут активный элемент */
    user-select: none; /* запрещаем выделение текста - кнопка не "синеет", как по ней ни кликай*/
    font-size: 30px;
    width: 34px;
    text-align: center;
    border-radius: 50%;
    background: rgba(255,255,255,.5);
}
.left {
    left: 5%;
}
.right {
    right: 5%;
}






/* bottomheader===================================================================*/

.bottomheader {
	width: 1200px;
	margin: 0 auto;
}
			/* задаем цвет фона для контейнера nav. */
.bottomheader nav {
	background-color: #fff;
}
			
			/* убираем отступы и поля, а также list-style для "ul", 
			 * и добавляем "position:relative" */
.bottomheader nav ul {
    padding: 0;
    margin: 0;
	display: flex;
	justify-content: space-around;
    list-style: none;
    position: relative;
}
			
			/* применяем inline-block позиционирование к элементам навигации */
.bottomheader nav ul li {
    margin: 0;
    display: inline-block;
    background-color: #fff;
	min-width: 100px;
	text-align: center;
}
.bottomheader nav ul li ul li {
	background-color: #d19a99;

}
.bottomheader nav ul li ul li a {
	color: #fff;
	line-height: 1.8;
}	
.bottomheader nav ul li ul li a:hover {
	background-color: #966;
}	
			/* стилизуем ссылки */
.bottomheader nav a {
	display:block;
	padding: 7px;
	color:#000;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;

}
			
			/* изменяем цвет фона при наведении курсора */
.bottomheader nav a:hover {
	background-color: #966;
	color: #fff;
}

/* скрываем выпадающие списки по умолчанию
			 * и задаем абсолютное позиционирование */
.bottomheader nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
	z-index: 1;
}
			
			/* отображаем выпадающий список при наведении */
.bottomheader nav ul li:hover > ul {
    display:inherit;
	
}
			
			/* первый уровень выпадающего списка */
.bottomheader nav ul ul li {
    min-width: 100px;
    float: none;
    display: list-item;
    position: relative;
}
.bottomheader nav ul ul ul {
			    position: absolute;
			    top:0;
			    left:100%;
				min-width: 200px;
		}







/* main ====================================================================================*/
main {
	flex: 1 1 auto;
	width: 1200px;
	margin: auto;
	display: flex;
	justify-content: center;
	padding: 20px;
}
main > .container {
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	align-content: flex-start;
}
.text-main {
	padding: 20px;
	text-align: center;
}
.main-gallery {
	display: flex;
}


.incontent {
	margin: 50px;
	padding: 0;
}
.incontent:hover {
	cursor: pointer;

}

.inimg {
	display: inline-block; 
    overflow: hidden;
}
.inimg img {
	width: 300px;
	height: 300px;
	transition: 1s; 
    display: block;
}
.inimg img:hover {
	transform: scale(1.2);
}


.intext {
	margin: 10px 0;
	max-width: 300px;
	font-size: xx-large;
	text-align: center;

}

.intop {
	padding: 30px 50px;
	width: 100%;
	text-align: center;
	font-size: large;
	line-height: 1.5;
}

.side {
	background: #678;
	width: 300px;
	height: 100vh;
	margin: 0 30px 0;
}



.pages {
	display: flex;
	flex-direction: column;
}
.toppages {
	display: flex;
	flex-direction: row;
}
.photo img {
	padding: 50px 10px 50px 50px;

	max-height: 700px;
}
.description {
	padding: 50px 50px 50px 10px;
}
.toppingname {
	font-size: xx-large;
	padding: 20px 0 0 20px;
}
.inbasket {
	width: 230px;
	height: 50px;
	border: none;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
	font-size: medium;
	background-color: #966;
	cursor: pointer;
	margin: auto;
}





table {
	table-layout: fixed;
	width: 100%;
	padding: 10px;
	border-collapse: collapse;
	table-layout: auto;
}
table tbody tr td {
	align-content: center;
}
table tbody tr:nth-child(odd) {
	background: #ccb3b3;
}
table tbody tr:nth-child(even) {
	background: #e8cdcc;
}
/*table thead tr th {
	border-bottom: 1px solid black;
}*/

table th, table td {
	padding: 8px;
	text-align: center;
	padding: 5px;
}

.allsum {
	text-align: left;
}








/* order =========================================================*/
.order {
	width: 100%;
	background: #fff;
	padding: 30px;
	
}
.nihil {
	display: none;
}
.empty .nihil {
	display: block;
}
.empty .table, .empty #orderdata {
	display: none;
}
.rub:after, .sum:after, .allsum:after {
	content: ' \20bd';
}
.num input {
	border: 0;
	width: 50px;
}
.del {
	width: 60px;
}
.del > div {
	width: 20px;
	height: 20px;
	border-radius: 30px;
	text-align: center;
	font: normal 20px/20px Arial;
	background: #966;
	color: white;
	cursor: pointer;
	margin: 0 auto;
}
input, textarea, select {
	padding: 10px;
	margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
#ord {
	width: 500px;
}
#address {
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 20px 0;
}
#orderdata {
	padding: 10px;
	display: flex;
	justify-content: center;
}
.formdata {
	display: flex;
	flex-direction: column;
	padding: 10px;
	min-width: 500px;
	justify-content: center;
}
.formdata p div {
	display: flex;
}
#select, #deliv {
	display: none;
}


/* gallery=========================================================== */
.product {
	width: 1200px;
	background: #fff;
	
	display: flex;
	flex-direction: column
	
}

.product-gallery {
	display: flex;
	width: 1200px;
	justify-content: center;
}

.gallery-desk {
	width: 640px;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-image img{
	max-height: 600px;
	max-width: 600px;
}
.gallery-desk img {
	cursor: zoom-in;
}
.gallery {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.small-image {
	width: 170px;
	height: 170px;
	padding: 4px;
	background: #fff;
	cursor: pointer;
}
.small-image > img {
	max-height: 160px;
	max-width: 160px;
	
}
.description-desk {
	margin: 20px;
	line-height: 1.5;
}
.presentation {
	font-weight: 700;
}
.cross {
	position: absolute;
	right: 10px;
	top: 5px;
	color: #966;
	font: bold 30px Arial;
	transform: rotate(45deg);
	cursor: pointer;
}

.hello {
	display: flex;
	align-items: center;
	background: #fff;
	padding: 20px;
	justify-content: space-around;
	width: 100%;
}
.hello-hello {
	display: flex;
	align-items: center;
	background: #fff;
	padding: 20px;
	justify-content: space-around;
	width: 100%;
}
.hello-img img {
	height: 400px;

}
.hello-hello-img img {
	height: 450px;
}
.hello-text, .hello-hello-text {
	max-width: 620px;
	line-height: 1.8;
}

.left-hello {
	padding: 30px 15px 30px 30px;
}
.left-hello img {
	width: 500px;
}

.right-hello {
	padding: 30px 30px 30px 15px;
}
.right-hello img {
	width: 500px;
}
.delivery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.deliverytext {
	padding: 30px;
}
.image img {
	max-width: 600px;	
}
.image {
	cursor: default;
	padding: 15px;
}

iframe {
	width: 1000px;
	height: 240px;
}

/* footer  ================================================================================*/
footer {
	background: #966;
	color: #fff;
}

.mainfooter {
	display: flex;
	justify-content: space-around;
	width: 1200px;
	margin: auto;
}
.leftfooter p, .rightfooter p {
	padding: 10px 0 0 0;
	height: 30px;
	display: flex;
	align-items: center;
}



.bottomfooter {
	width: 1200px;
	margin: auto;
	padding: 30px;
	box-sizing: border-box;
	opacity: 0.6;
}

.rightfooter img {
	max-width: 20px;
	max-height: 20px;
}
.mainfooter a {
	text-decoration: none;
	color: #fff;
}


/* popup =================================================================*/
.popup-desk {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.3);
}
.popup-desk.active {
	display: block;
	z-index: 20;
}
.popup {
	position: absolute;
	left: calc(50% - 150px);
	top: 300px;
	background: #fff;
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
	z-index: 20;
}

.workday, .holiday, .left, .right:hover {
	cursor: pointer;
}

.popup .header {
	display: flex;
	justify-content: space-between;
}
.lightbox {
	left: 30px;
	right: 30px;
	top: 30px;
	width: auto;
}
.lightbox img {
	max-width: 100%;
}

 .out-table {
    min-width: 320px;
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}





/* media 1200 ======================================================================*/
@media(max-width: 1200px) {
	.topheader {
		width: 1000px;
	}
	.slider {
		width: 1000px;
		height: 200px;
	}
	.slide {
		width: 1000px;
		height: 200px;
	}
	.slide img {
		width: 1000px;
		height: 200px;
	}
	.bottomheader {
		width: 1000px;
	}
	main {
		width: 1000px;
	}
	main > .container {
		width: 1000px;
	}
	.product {
		width: 1000px;
	}
	.gallery-desk {
		width: 530px;
	}
	.product-gallery {
		width: 1000px;
	}
	.description-desk {
		max-width: 400px;
	}
	#ord {
		width: 350px;
	}
	.main-image img{
		max-height: 530px;
		max-width: 530px;
	}
	.image img {
		max-height: 500px;
		max-width: 500px;	
	}
	.mainfooter {
		width: 1000px;
	}
	.bottomfooter {
		width: 1000px;
	}
}

/* media 1000 ======================================================================*/
@media(max-width: 1000px) {
	.topheader {
		width: 768px;
	}
	.slider {
		width: 768px;
		height: 154px;
	}
	.slide {
		width: 768px;
		height: 154px;
	}
	.slide img {
		width: 768px;
		height: 154px;
	}
	.bottomheader {
		width: 768px;
	}
	main {
		width: 768px;
	}
	main > .container {
		width: 768px;
	}
	.product {
		width: 768px;
	}
	.gallery-desk {
		width: 350px;
	}
	.product-gallery {
		width: 768px;
	}
	.description-desk {
		max-width: 270px;
	}
	#ord {
		width: 220px;
	}
	.main-image img{
		max-height: 400px;
		max-width: 400px;
	}
	.mainfooter {
		width: 768px;
	}
	.bottomfooter {
		width: 768px;
	}
	.right-hello img {
		width: 300px;
	}
	iframe {
		width: 768px;
	}
	.image img {
		max-height: 400px;
		max-width: 400px;
	}
	.inimg img {
		width: 250px;
		height: 250px;
	}
	.intext {
		max-width: 250px;
		font-size: x-large;
	}
	.intop {
		padding: 25px 40px;
	}
	.hello-text, .hello-hello-text {
		max-width: 530px;
	}
}

/* media 768 ======================================================================*/
@media(max-width: 768px) {
	.topheader {
		width: 320px;
	}
	.slider {
		width: 320px;
		height: 64px;
	}
	.slide {
		width: 320px;
		height: 64px;
	}
	.slide img {
		width: 320px;
		height: 64px;
	}
	.bottomheader {
		width: 320px;
	}
	main {
		width: 320px;
	}
	main > .container {
		width: 320px;
	}
	.product {
		width: 320px;
		
	}
	.gallery-desk {
		width: 320px;
		margin: 0 auto;
	}
	.product-gallery {
		width: 320px;
		flex-direction: column;
	}
	.description-desk {
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	.description-desk  textarea  {
		width: 100%;
	}
	.toppingname {
		align-content: center;
		margin: 0 auto;
	}
	#ord {
		width: 220px;
		margin: auto;
	}
	.main-image img{
		max-height: 270px;
		max-width: 270px;
		align-content: center;
	}
	.mainfooter {
		width: 320px;
		flex-direction: column;
	}
	.bottomfooter {
		width: 320px;
	}
	.right-hello img {
		width: 150px;
	}
	iframe {
		width: 320px;
	}
	.image img {
		max-height: 300px;
		max-width: 300px;
	}
	.inimg img {
		width: 250px;
		height: 250px;
	}
	.intext {
		max-width: 250px;
		font-size: x-large;
	}
	.intop {
		padding: 25px 40px;
	}
	.topheader nav ul {
		flex-direction: column;		
		align-items: center;
	}
	.topheader nav ul li {
		width: 100%;		
	}
	.topheader nav ul li a {	
		line-height: 0.8;		
	}
	.bottomheader nav ul {
		flex-direction: column;		
		align-items: center;
	}
	.bottomheader nav ul li {
		width: 100%;		
	}
	.bottomheader nav ul li a {	
		line-height: 0.8;		
	}
	.bottomheader nav ul li:hover > ul, ul ul ul {
		display: relative;
	}
	.small-image > img {
		max-height: 90px;
		max-width: 90px;
		margin: 0 auto !important;			
	}
	.small-image {
		width: 90px;
		height: 90px;
		display: flex;
		justify-content: center;
	}
	.leftfooter p, .rightfooter p {
		display: flex;
		justify-content: center;
		font-size: small;
		padding: 0;
	}
	.copyright p {
		font-size: small;
		text-align: center;
	}
	.hello, .hello-hello {
		flex-direction: column;
	}
	.left-hello, .right-hello {
		padding: 15px 15px 0 15px;
	}
	.deliverytext {
		padding: 15px;
	}
	.deliverytext p {
		text-align: center;
	}
	.formdata {
		min-width: 320px;
	}
	#select option {
		width: 300px;
	}
	.order {
		padding: 10px;
	}
	table {
		font-size: small;
		table-layout: fixed;
	}
	table th, td {
		padding: 2px;
	}
	.num input {
		border: 0;
		width: 30px;
	}
	.out-table table thead {
		display: none;
	}
	.out-table table tr {
		display: block;
		 
	}
	.out-table table td {
		display: flex;
		justify-content: flex-start;
		font-size: 14px;
	}
	.out-table table td::before {
		content: attr(data-label);
		font-weight: bold;
		margin-right: 20px;
	}
	.del > div {
		width: 20px;
		height: 20px;
	}
	.bottomheader nav ul li:hover > ul {
		display:none;		
	}
	.hello-text, .hello-hello-text {
		max-width: 300px;
		padding: 0 10px 0 10px;
	}
	.hello-img img {
		height: 300px;
	}
	.hello-hello-img img {
		height: 350px;
	}
	.hello-text p, .hello-hello-text p {
		text-align: center;
	}
	.left-hello p {
		text-align: center;
	}
	h1 {
		text-align: center;
	}
	.mainpage {
		padding: 10px 0 0 0;
		margin: 0;
	}
}